<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1075302680233-5gdh4dqivfcnrjila53brmurrj8g0n0k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075302680233-5gdh4dqivfcnrjila53brmurrj8g0n0k</string>
	<key>API_KEY</key>
	<string>AIzaSyCDkbex8sx42y7Pwa7nH_2ILLyBwxW2r-M</string>
	<key>GCM_SENDER_ID</key>
	<string>1075302680233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.topsapp.tctechzone</string>
	<key>PROJECT_ID</key>
	<string>techzone-c013b</string>
	<key>STORAGE_BUCKET</key>
	<string>techzone-c013b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075302680233:ios:a15e2c2f41bd6277e48bb8</string>
</dict>
</plist>